# Environment Variables
.env
.env.*
!.env.example

# Dependencies
node_modules/

# Build Output
dist/
build/
.next/
out/

# Cache
.vite/
.cache/
.parcel-cache/
.eslintcache

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Test
coverage/

# Misc
*.tsbuildinfo
