# Ignore node_modules
**/node_modules/

# Ignore build output
**/dist/
**/dist-ssr/
**/target/

# Ignore logs
*.log
logs/
**/logs/

# Ignore environment files
*.env
*.local
.env.local
.env.development.local

# Ignore OS files
.DS_Store
Thumbs.db
ehthumbs.db

# Ignore IDE/editor folders
.vscode/
.idea/
*.iml
.project
.classpath
.settings/

# Ignore Dockerfiles in backend folders containing secrets
Backend/nodejs-backend/Dockerfile
Backend/python-backend/Dockerfile
Backend/java-backend/Dockerfile
Backend/api-gateway/Dockerfile



# Ignore Python bytecode and virtual environments
**/__pycache__/
**/*.py[cod]
**/venv/
**/ENV/

# Ignore Java build output
**/target/

# Ignore TypeScript build info
*.tsbuildinfo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints
